@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

label {
  color: #ffffff !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent !important;
  padding: 0.6em 1.2em !important;
  font-size: 1.1em !important;
  font-weight: 500 !important;
  font-family: inherit;
  color: white !important;
  background-color: #1a1a1a !important;
  cursor: pointer;
  transition: border-color 0.25s;

  &.all {
    background-color: #5D944F !important;
    color: black !important;
  }
}

.ant-spin-fullscreen {
  backdrop-filter: blur(5px) !important;
}

input,
.ant-input-affix-wrapper {
  background-color: #3d3d3d !important;
  color: #ffffff !important;

  svg {
    color: #ffffff !important;
  }
}

button:hover {
  border-color: #83ff64 !important;
  transform: scaleY(1.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  label {
    color: #242424 !important;
  }

  a:hover {
    color: #747bff;
  }

  input,
  .ant-input-affix-wrapper {
    background-color: #f9f9f9 !important;
    color: #242424 !important;

    svg {
      color: #242424 !important;
    }
  }

  button {
    color: #242424 !important;
    background-color: #f9f9f9 !important;

    &.all {
      background-color: #438432 !important;
      color: #f9f9f9 !important;
    }

    &:hover {
      border-color: #438432 !important;
    }
  }

  .datePicker {
    width: 100%;
    padding: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: none;

    .day-label-bar-inner-rtl {
      border-radius: 10px;
      background-color: #438432;
    }

    .panel-header-rtl {
      max-width: 1000px;
      background-color: #e1e1e1;

      .panel-header-inner {
        color: rgb(238, 238, 238) !important;
      }
    }

    .days-body,
    .panel-footer-rtl {
      background-color: #dedede00;
      border-radius: 10px;
    }

    .panel-footer-rtl {
      border-radius: 10px;
      display: none;
    }

    .day-item-chain,
    .day-item-outer,
    .day {
      color: #1a1a1a;
      border-radius: 10px;

      &.highlight {
        color: white;
        background-color: #438432;
      }

      &.disabled {
        border-radius: 0px;
        background-color: #f9f9f9;
      }
    }
  }
}